//google font
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

$primary-color: #ff5400;
$dark-orange: #fe471c;

html {
  font-size: 10px;
  font-family: "Roboto", sans-serif;
}

body {
  box-sizing: border-box;
}

p {
  font-size: 1.6rem;
}

.top {
  padding: 1rem 2rem;

  background-image: linear-gradient(
      to bottom,
      rgba(21, 21, 21, 0.5) 1%,
      rgba(70, 70, 70, 0.1) 100%
    ),
    url("/images/bg-compress.png");
  background-size: cover;
  background-position: top;
  min-height: 700px;

  &-nav {
    display: flex;
    justify-content: space-between;

    // &__col1{
    // }
    &__logo {
      &-link {
        display: block;
        max-width: 12rem;
      }

      &-img {
        max-width: 100%;
        display: block;
      }
    }

    // for colum 2 on navbar

    &__col2 {
      // display:flex;
      // flex-direction: column;
    }

    &__top {
      &-links {
        display: flex;
        justify-content: center;
        gap: 1.5rem;
      }

      &-link {
        font-size: 1.3rem;
        text-decoration: none;
        color: white;
        font-weight: 400;
      }
    }

    &__category {
      display: flex;
      align-items: center;
      padding: 1.3rem 6rem 1.3rem 3rem;
      gap: 3rem;
      margin-top: 0.8rem;
      color: white;
      border-radius: 2rem;
      // background: linear-gradient(90deg, #0A1419 0%, #34454D 100%);
      background: linear-gradient(
        85deg,
        rgba(9, 20, 26, 0.8) 15.5%,
        rgba(52, 69, 77, 0.8) 100%
      );
      backdrop-filter: blur(100px);
      position: relative;

      &-con {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0.7rem;
        cursor: pointer;

        & i:nth-child(1) {
          font-size: 1.8rem;
        }

        & i:nth-child(2) {
          font-size: 1rem;
        }
      }

      &-name {
        font-size: 1.5rem;
        font-weight: 400;
      }
    }
    &__search {
      padding: 1.6rem;
      border-radius: 50%;
      background: linear-gradient(180deg, $dark-orange 0%, #fe7405 100%);
      position: absolute;
      right: -1px;
      cursor: pointer;
      & i {
        font-size: 1.3rem;
      }
    }
    &__right {
      display: flex;
      align-items: center;
      gap: 1.8rem;
      & i {
        font-size: 2rem;
        cursor: pointer;

        &:nth-child(1) {
          color: white;
        }
        &:nth-child(2) {
          color: #3074e1;
          padding: 1.3rem 1.5rem;
          background-color: #101010;
          border-radius: 1rem;
        }
      }
    }
  }
}

// Dropdown menu

.dropdown {
  visibility: hidden;
  height: 0;
  width: 0;
  position: absolute;
  left: 0;
  top: 125%;
  // background: linear-gradient(151deg, #12222A 0%, #606C6E 69.36%, #91724A 100%);
  background: linear-gradient(
    131deg,
    rgba(18, 34, 42, 0.98) 0%,
    rgba(96, 108, 110, 0.98) 49.36%,
    rgba(145, 114, 74, 0.98) 100%
  );
  padding: 1.7rem;
  border-radius: 1rem;
  box-sizing: border-box;
  backdrop-filter: blur(150px);
  


  &__category {
    background: linear-gradient(
      90deg,
      rgba(18, 31, 36, 0.7) 0%,
      rgba(83, 81, 77, 0.7) 100%
    );
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 1.8rem;
    border-radius: 0.6rem;
    backdrop-filter: blur(40px);
  }

  &__platform {
    font-size: 1.5rem;
    font-weight: 500;
  }

  &__view {
    font-size: 1.4rem;
    font-weight: 400;
    color: white;
    text-decoration: none;
  }

  &__con {
    padding: 1.8rem 1.5rem;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 5px;
  }

  &__item {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    gap: 0.8rem;
    background-color: transparent;
    padding: 0.5rem;
    border-radius: 2.3rem;

    &:hover {
      background-color: #666e6d;
      filter: drop-shadow(0px 0px 10px #4e4f4e);
    }
  }
  &__img {
    max-width: 3.2rem;
    max-height: 3.2rem;
    & img {
      max-width: 100%;
      width: 100%;
      object-fit: cover;
      height: 100%;
    }
  }

  &__name {
    font-size: 1.4rem;
  }

  &__con-2 {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    padding: 1.8rem 0.5rem 0.5rem;
    gap: 0.5rem;
  }

  &__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;
    text-decoration: none;
    &-img {
      max-height: 3.5rem;
      & img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
        width: 100%;
      }
    }

    &-name {
      padding-top: 0.5rem;
      font-size: 1.4rem;
    }
  }
}

/* Hero section */

.hero {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2rem;

  &__con {
    padding-top: 15rem;
    max-width: 47rem;
  }

  &__days {
    color: white;
    font-size: 1.2rem;
    font-weight: 300;
    padding: 0.5rem 0.8rem;
    border-radius: 4px;
    background-color: #333a3d;
    display: inline-block;
  }
  &__header {
    font-size: 4.2rem;
    font-weight: 400;
    color: white;
    margin: 0.8rem 0;
  }

  &__offer {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  &__amount {
    font-size: 4rem;
    color: white;
    font-weight: 400;
  }
}

.discount {
  display: inline-block;
  padding: 0.5rem 1.5rem 0.5rem 1rem;
  border-radius: 6px;
  // overflow: hidden;
  clip-path: polygon(0 0, 85% 0, 100% 100%, 0% 100%);
  background-color: $primary-color;
  // height: 100px;
  // width: 250px;
  border-top-right-radius: 1.8rem;
  //border-bottom-right-radius: 1rem;
  // background: linear-gradient(-110deg, transparent 90px, #eee 0);

  &__text {
    color: white;
    font-size: 1.6rem;
  }
}

/* Trending section start */

.trending {
  clip-path: polygon(0 0, 100% 25%, 100% 100%, 0% 100%);
  background-color: #272727;
  padding: 7rem 0 0;
  margin-top: -11rem;

  &__con {
    max-width: 1280px;
    margin: 0 auto;
    padding: 3rem 2rem;
  }

  &__row-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2rem;
  }

  &__header{
    font-size: 2.6rem;
    font-weight: 500;
    color:white;
  }

  &__view-all{
    font-size: 1.5rem;
    font-weight: 400;
    padding: 0.7rem 1.2rem;
    background-color: #323232 ;
    border-radius: 5px;
    border: 1px solid rgb(86, 86, 86);
    text-decoration: none;
    color: white;
  }

  &__row-2{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap:2.5rem;
  }
}


.card{

  text-decoration: none;

  &__box{
    border-radius: 1rem;
    position: relative;
  }

  &__con{ 
    height: 20rem;
    overflow: hidden;
    & img{
      max-height: 100%;
      max-width: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &__discount{
    position: absolute;
    bottom: -1%;
    left: -3px;
  }

  &__row{
    color:white;
    padding-top:1rem;
    display:flex;
    justify-content: space-between;
    align-items: center;
  }

  &__details{
    display: flex;
    align-items: center;
  }

  &__type{
    font-size: 1.2rem;
    padding:3px 5px;
    border: 1px solid rgb(86, 86, 86);
    border-radius: 3px;
    color: rgb(120, 120, 120);
    margin-right:0.8rem;
  }

  &__title{
    font-size: 1.5rem;
  }
  
  &__price{
    font-size: 1.8rem;
    font-weight: 400;
  }


}


// utility //

.show-dropdown{
  width: 100% !important;
  height: auto !important;
  visibility: visible !important;
  transition: visibility 0.5s ease-in;
}






